<form ngForm #myForm="ngForm">
    VIN:<br/>
    <input type="text" name="veh_vin" #vin="ngModel" [(ngModel)]="vehicle.VIN" required minlength="3"/>
    <span class="error" *ngIf="vin.invalid && vin.dirty">Must be 3 characters</span><br/>
    Year:<br/>
    <input type="number" name="veh_year" [(ngModel)]="vehicle.year" required minlength="3"/><br/>
    Make:<br/>
    <input type="text" name="veh_make" [(ngModel)]="vehicle.make" required minlength="3"/><br/>
    Model:<br/>
    <input type="text" name="veh_model" [(ngModel)]="vehicle.model" required minlength="3"/><br/>
    Mileage:<br/>
    <input type="number" name="veh_mileage" [(ngModel)]="vehicle.mileage" required minlength="3"/><br/>
    Price:<br/>
    <input type="number" name="veh_price" [(ngModel)]="vehicle.price" required minlength="3"/><br/>
    <label>
        <input type="checkbox" name="veh_featured" [(ngModel)]="vehicle.featured"/>
        Featured vehicle
    </label>
    <br/>
    <p *ngIf="myForm.invalid" class="error">Please enter valid values.</p>
    <button (click)="handleSubmit(myForm)" [disabled]="myForm.invalid">Submit</button>
</form>  