<form [formGroup]="vehicleForm">
    VIN:<br />
    <input type="text" formControlName="veh_vin" />
    <span class="error" *ngIf="vehicleForm.get('veh_vin')?.invalid && vehicleForm. get('veh_vin')?.dirty">Must be minimum 3 characters. I, O and Q not allowed.</span>


    <br />
    Year:<br />
    <input type="text" formControlName="veh_year"/><br />
    Make:<br />
    <input type="text" formControlName="veh_make"/><br />
    Model:<br />
    <input type="text" formControlName="veh_model"/><br />
    Mileage:<br />
    <input type="text" formControlName="veh_mileage"/><br />
    Price:<br />
    <input type="text" formControlName="veh_price"/><br />
    <label>
        <input type="checkbox" formControlName="veh_featured"/>
        Featured vehicle
    </label>
    <br/>
    <p *ngIf="vehicleForm.invalid" class="error">Please enter valid values.</p>
    <button (click)="handleSubmit()" [disabled]="vehicleForm.invalid">Submit</button>

</form>